<!DOCTYPE html>
<html>
  <head>
    <title>Quiver.tv</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('fav.png'), :rel => 'icon', :type =>  'image/png' %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script rel=”stylesheet” type=”javascript” href=”../node_modules/react-bootstrap/react-bootstrap.min.js”></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
